{% extends "base.html" %}
{% load static %}
{% url 'postbook' as postbook %}

{% block title %}
    User Login
{% endblock title%}


    {% block sidenav %}
    
    {%for item in item_list %}
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="{{item.link}}">{{item.item}}</a>
        </li>
    </ul>

    {% endfor %}

    {% endblock sidenav %}

{% block content %}
<h1> User Login </h1>

<form action="{% url 'login' %}" method="post">
    <table>
        {{ form.as_table }}
        <tr>
            <td colspan="2">
                <input type="submit" value="login">
            </td>
        </tr>
    </table>
    <p> To register <a href="{% url 'register' %}"> Click Here </a> </p>
    <input type="hidden" name="next" value="{{ next }}" />
    {% csrf_token %}
</form>
{% endblock content %}