{% extends "base.html" %}
{% load static %}

{% block title %}
     Display Books
{% endblock title%}


    {% block sidenav %}
    
    {%for item in item_list %}
    <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="{{item.link}}">{{item.item}}</a>
        </li>
    </ul>

    {% endfor %}

    {% endblock sidenav %}


{% block content %}
<h1 align="center"> {{ book.name }} Page</h1>


    <div id="boot_details">
        <img src="{{ picture }}" alt="book image" width="300" height="300" >
        <h5>{{ book.name }}</h5>
        <h5>{{ book.publishdate }}</h5>
        <h5>{{ book.username }}</h5>
        <form action="cart/{{ book.id}}" method="post">{% csrf_token %}
            <input type="submit" value="Add to cart">
        </form>
    </div>



<br>
<br>

    <div id="reviews">
        <h3> Reviews</h3>
        <a href="{{book.id}}/postreview">Post Review</a>
        <br>
        <br>
        {% for review in reviews %}
        <div class="review">
        <h5>{{ review.name }}</h5>
        <p>{{ review.body }}</p>

        </div>
        <hr>
        {% endfor %}
    </div>

{% endblock content %}




